 .stocks-wrap{
	 background-color: #caf0f8;
	 padding: 2rem 1rem;
 }
 .stock-title{
	 text-align: center;
	padding-top: 1.5rem;
	text-transform: uppercase;
	letter-spacing: 0.2rem;
 }
.stock-container{
	width: 95%;
	/* background-color: #ddd;
	border: 2px solid #ddd; */

	margin-bottom: 1rem;
  }
  .stockbar-container{
	background-color: #ddd;
	border: 2px solid #ddd;
	border-radius: 1rem;
  }
  h4{
	text-transform: capitalize;
  }
  .stock {
	text-align: right;
	padding: 0.6rem 0;
	color: white;
	
  }
  
  .Watermelon {width: 30%; background-color: #f44336;}
  .Pineapple {width: 38%; background-color: #2196F3;}
  .Apple {width: 42%; background-color: #808080;}
  .Jackfruit {width: 35%; background-color: #dbad57;}
  .mango {width: 55%; background-color: #04AA6D;}
  .abroad-fruits {width: 50%; background-color: #51d61c;}
  .seasonal-fruits {width: 70%; background-color: #2e1ec0;}
 