
.banner {
	background-color: #90e0ef;
	height: 550px;
}

@media screen and (min-width : 768px) {

	.banner {
		height: 550px;
		width: 100%;
		/* background-image: ; */
		background-image: linear-gradient(to right, rgba(223, 33, 90, 0.5), rgba(100, 90, 0, 0.7)), url('../../../img/banner.jpg');
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
	}
	.banner-info{
		color: white;
	}
	
}

.banner-container-info{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 550px;
}
.banner-info{
	width: 50%;
	height: 200px;
}
.banner-info h3, p{
	text-align: center;
}